{% extends "base.html" %}
{% load static %}
{% block titulo %}
    Configurar Simulación
{% endblock titulo %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main/index.css" %}">
{% endblock css %}
{% block contenido %}
    <h2 class="text-center">Configurar Parametros de Simulacion</h2>
    <hr style= "border: 1px solid #f00">  

    <!-- Formulario para modificar precio-->
    <form method = "post">
    	{% csrf_token %}
        <fieldset>
        <legend class="text-center">Configuracion Precio</legend>
        <div class="container">
        	<div class="row">
                <div class="col-sm-6">
                    <label for="{{configuraciones.precio_maiz.name}}">
                        {{configuraciones.precio_maiz.label}}
                    </label>
                    {{configuraciones.precio_maiz}}
                </div>
                <div class="col-sm-6">
                    <label for="{{configuraciones.unidadMedidaMaiz.name}}">
                         {{configuraciones.unidadMedidaMaiz.label}}
                    </label>
                    {{configuraciones.unidadMedidaMaiz}}
                </div>
            </div>
        </div>
        {% if precioNeg %}
            <div class="container-fluid">
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <div class="Alert alert-warning">
                            No puede ingresar un precio con valor negativo ni nulo. Por favor ingrese un valor valido
                        </div>
                    </div>
                    
                </div>  
            </div> 
        {% endif %}
        <br>
        <div class="container">
            <div class= "row">
                <div class="col-sm-12" >
                   <button type="submit" class="btn btn-success btn-block" name="btnForm1">Guardar Cambios</button> 
                </div>
            </div>     
        </div>
        </fieldset>
    </form>
   

    <hr style= "border: 1px solid #f00">
    

        <!-- Formulario para Crear Fertilizante-->
        <form method = "post">
        	{% csrf_token %}
            <fieldset>
            <legend class="text-center">Crear Fertilizante</legend>
        	<div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="{{fertilizantes.nombre_fertilizante.name}}">
                            {{fertilizantes.nombre_fertilizante.label}}
                        </label>
                        {{fertilizantes.nombre_fertilizante}}
                    </div>
                    <div class="col-sm-2">
                        <label for="{{fertilizantes.porc_nitrogeno.name}}">
                            {{fertilizantes.porc_nitrogeno.label}}
                        </label>
                        {{fertilizantes.porc_nitrogeno}}
                    </div>
                    <div class="col-sm-2">
                        <label for="{{fertilizantes.porc_fosforo.name}}">
                            {{fertilizantes.porc_fosforo.label}}
                        </label>
                        {{fertilizantes.porc_fosforo}}
                    </div>
                     <div class="col-sm-2">
                        <label for="{{fertilizantes.porc_potasio.name}}">
                            {{fertilizantes.porc_potasio.label}}
                        </label>
                        {{fertilizantes.porc_potasio}}
                    </div>
                     <div class="col-sm-2">
                        <label for="{{fertilizantes.peso.name}}">
                            {{fertilizantes.peso.label}}
                        </label>
                        {{fertilizantes.peso}}
                    </div>
                    <div class="col-sm-1.5">
                        <label for="{{fertilizantes.unidadMedidaFert.name}}">
                             {{fertilizantes.unidadMedidaFert.label}}
                        </label>
                        {{fertilizantes.unidadMedidaFert}}
                    </div>
                </div>
            </div>
             {% if fertInval %}
                <div class="container-fluid">
                    <br>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="Alert alert-warning">
                                Entrada no valida. Por favor ingrese un valor valido
                            </div>
                        </div>
                        
                    </div>  
                </div> 
            {% endif %}
            <br>
            <div class="container">
                <div class= "row">
                    <div class="col-sm-12">
                        {%if hayConfi  %}
                       <button type="submit" class="btn btn-success btn-block" name="btnForm2" > Guardar Nuevo Fertilizante</button>
                       {% else %}
                       <button type="submit" class="btn btn-success btn-block" name="btnForm2" disabled=""> Guardar Nuevo Fertilizante</button>
                        {%endif%}
                    </div>
                </div>     
            </div>
        </fieldset>
    </form>

    
    <hr style= "border: 1px solid #f00">
    <!-- Se muestran fertilizantes y se ofrece las opciones editar y eliminar-->
    <fieldset>
        <legend class="text-center">Modifica tus fertilizantes</legend>
    {% if fertUsuarios %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Nombre Fertilizante</td>
                    <td>Nitrogeno (%)</td>
                    <td>Fosforo (%)</td>
                    <td>Potasio (%)</td>
                    <td>Peso</td>
                    <td>Unidad de Medida</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for fer in listaFert %}
                    <tr>
                    <td>{{fer.0.nombre_fertilizante}}</td>
                    <td>{{fer.0.porc_nitrogeno}}</td>
                    <td>{{fer.0.porc_fosforo}}</td>
                    <td>{{fer.0.porc_potasio}}</td>
                    <td>{{fer.0.peso}}</td>
                    <td>{{fer.0.unidadMedidaFert}}</td>
                    <td>
                        
                        <a class="btn btn-primary" data-toggle = "modal"  href="#f{{forloop.counter}}" > Editar</a>
                        <a class="btn btn-danger" data-toggle = "modal"  href="#{{fer.0.id}}" > Eliminar</a>
                    </td>
                    <div class="modal fade" id="{{fer.0.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Header de ventana-->
                                <div class="modal-header">
                                    <h2 class="modal-title">Eliminar Fertilizante</h2>
                                    <button tyle="button" class="close" data-dismiss="modal" aria-hidden = "true">&times;</button>
                                </div>
                                <!-- Contenido de la ventana -->
                                <div class="modal-body">
                                        <h3 class="text-center">¿Desea eliminar el registro {{fer.0.nombre_fertilizante}}?</h3> 
                                </div>
                                <!--Footer-->
                                <div class="modal-footer">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="inputEliminar" value= "{{fer.0.id}}">
                                        <button type="submit" class="btn btn-danger " name="btnForm4">Eliminar</button>
                                        <button type="button" class="btn btn-primary" data-dismiss= "modal" name="btnForm4">Cancelar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="f{{forloop.counter}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Header de ventana-->
                                <div class="modal-header">
                                    <h2 class="modal-title">Modificar Fertilizante</h2>
                                    <button tyle="button" class="close" data-dismiss="modal" aria-hidden = "true">&times;</button>
                                </div>
                                <!-- Contenido de la ventana -->
                                <div class="modal-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{fer.1.as_p}}
                                        <input type="hidden" name="inputEditar" value= "{{fer.0.id}}">
                                        <button type="submit" class="btn btn-success btn-block" name="btnEditarFert">Guardar Cambios</button>
                                        
                                    </form>
                                </div>

                                <!-- Footer-->
                                <div class="modal-footer">
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    </tr>
                {% endfor%}
            </tbody>
        </table>
        {% if fertInvalVentana %}
                    <div class="container-fluid">
                        <br>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="Alert alert-warning">
                                No se pudo guardar cambios. Por favor ingrese un valor valido
                                </div>
                            </div>
                        </div>  
                    </div> 
                {% endif %}
    {% else %}
        <h3 class="text-center">No ha agregado fertilizantes</h3>
    {% endif %}
</fieldset>
{% endblock contenido %}

















