{% extends "base.html" %}

{% block contenido %}

	<form method="POST">
		{% csrf_token %}
		<h3>¿Desea eliminar el registro de {{fertilizante.nombre_fertilizante}}?</h3>
		<div class="container">
            <div class= "row">
                <div class="col-sm-3">
                   <button type="submit" class="btn btn-danger" name="btnFormEditar">Eliminar</button>
                </div>
                <div class="col-sm-3">
                   <a class="btn btn_default" href="{% url 'configuracion'%} ">Cancelar</a>
                </div>
            </div>     
        </div>
	</form>

{% endblock contenido %}