{% extends "base.html" %}
{% load static %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/main/index.css" %}">
{% endblock css %}
{% block contenido %}
<div class="row">
	<div class="col-12">
		<h1 class="text-center">Simulaciones Compartidas</h1>
	</div>
	<div class="col-12">
		<form method="post" class="form-inline float-right">
			{% csrf_token %}
			<input type="text" name="buscar" class="m-0 buscar" required="" {% if simu %}
                disabled="" 
            {% endif %}>
			<button type="submit" class="btn btn-primary m-0" name='f_buscar' {% if simu %}
                disabled="" 
            {% endif %}><span class="fas fa-search"></span></button>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-12">
		{% if busqueda %}
			<h3 class="text-info">{{busqueda}}</h3>
		{% endif %}
	</div>
</div>
{% if simu %}
    <h2 class="bg-warning text-danger mt-5 p-3">{{simu}}</h2>
{% endif %}
{% for sim in simulaciones %}
    <div class="row simulacion my-3 mx-0">
        <div class="col-12 ">
        	<div class="row titulo">
        		<h3 class="text-center col-12">{{sim.0.nombre_sim}}</h3>
        	</div>
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6"><p class="m-0">USUARIO:</p><p>{{sim.0.usuario.username}}</p></div>
                <div class="col-lg-2 col-md-6 col-sm-6"><p class="m-0">CULTIVO:</p><p>{{sim.0.planta}}</p></div>
                <div class="col-lg-3 col-md-6 col-sm-6"><p class="m-0">EPOCA DE SIEMBRA:</p><p>{{sim.0.fecha_siembra}}</p></div>
                <div class="col-lg-3 col-md-6 col-sm-12"><p class="m-0">FERTILIZANTES:</p>
                {% for fer in sim.1 %}
                    <p class="m-0">{{fer}}</p>
                {% endfor %}
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12 d-flex flex-column justify-content-center">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-12 col-md-6  col-sm-12 my-1">
                            <form method="post" action="{% url 'simulacion' sim.0.id%}">
                                {% csrf_token %}
                                <input class="btn btn-block btn-outline-custom font-weight-bold" type="Submit" name="" value="Visualizar">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
	
{% endblock contenido %}