{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    Administrar Simulaciones
{% endblock titulo %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/main/mi_espacio.css' %}">
{% endblock css %}
{% block contenido %}
    <p class="alert-info alert font-weight-bold text-center"><span class="">Bienvenido: </span><span class="text-success">{{nombre}}</span></p>
    <h1 class="text-center">Simulacion Maiz y Fertilizantes</h1>
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="" class="btn btn-block btn-outline-primary p-3"><span class="font-weight-bold">Crear Simulacion</span></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="" class="btn btn-block btn-outline-success p-3"><span class="font-weight-bold">Configurar Simulaciones</span></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <form method="post" class="form-inline float-right">
                {% csrf_token %}
                <input type="text" name="buscar" class="m-0 buscar" required="" {% if simu %}
                    disabled="" 
                {% endif %}>
                <button type="submit" class="btn btn-primary m-0" name="f_buscar" {% if simu %}
                    disabled="" 
                {% endif %}><span class="fas fa-search"></span></button>
            </form>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
        {% if busqueda %}
            <h3 class="text-success">{{busqueda}}</h3>
        {% endif %}
    </div>
</div>
    <ul class="nav nav-tabs row mt-3">
        <li class="nav-item col-4 text-center">
            <a href="{% url 'mi_espacio' request.user %}" class="nav-link {{activo.0}}" id="a1">Todas las simulaciones</a>
        </li>
        <li class="nav-item col-4 text-center">
            <a href="{% url 'mi_espacio_op' request.user 'shared'%}" class="nav-link {{activo.1}}" id="a1">Simulaciones Compartidas</a>
        </li>
        <li class="nav-item col-4 text-center">
            <a href="{% url 'mi_espacio_op' request.user 'private'%}" class="nav-link {{activo.2}}" id="a1">Simulaciones Privadas</a>
        </li>
    </ul>
    <div class="container_sim">
    {% if simu %}
        <h2 class="bg-warning text-danger mt-3 text-center p-2">{{simu}}</h2>
    {% endif %}
    {% for sim in simulaciones %}
    <div class="row simulacion my-3 mx-0">
        <div class="col-12">
            <div class="row titulo">
                 <h3 class="text-center col-12 ">{{sim.0.nombre_sim}}</h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6"><p>CULTIVO:</p><p>{{sim.0.semilla}}</p></div>
                <div class="col-lg-3 col-md-4 col-sm-6"><p>EPOCA DE SIEMBRA:</p><p>{{sim.0.fecha_siembra}}</p></div>
                <div class="col-lg-3 col-md-4 col-sm-12"><p>FERTILIZANTES:</p>
                {% for fer in sim.1 %}
                    <p class="m-0">{{fer}}</p>
                {% endfor %}
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="row my-1">
                        <div class="col-lg-12 col-md-4 my-1">
                            <form method="post">
                                {% csrf_token %}
                                <input class="btn btn-block btn-primary" type="Submit" name="" value="Modificar">
                            </form>
                        </div>
                        <div class="col-lg-12 col-md-4 my-1">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id_sim" value="{{sim.0.id}}">
                                <input class="btn btn-block btn-danger" type="Submit" name="f_delete" value="Eliminar">
                            </form>
                        </div>
                        <div class="col-lg-12 col-md-4 my-1">
                            <form method="post" action="{% url 'simulacion' sim.0.id%}">
                                {% csrf_token %}
                                <input class="btn btn-block btn-success" type="Submit" name="" value="Visualizar">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <br>
{% endblock contenido %}

