{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% block titulo %}{% endblock titulo %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
<header class="">
	<nav class="navbar navbar-expand-md fixed-top navbar-dark" id="navbar">	
        <div class="container">
            <a href="{% url 'logout' %}" class="navbar-brand"><img class="logo" src="{% static 'img/icono_w.png' %}" alt=""></a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link px-4 text-white font-weight-bold text-center" href="{% url 'direccionar' %}">{{user.username}}</a></li>
                {%endif%}

                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link px-4 text-white font-weight-bold text-center" href="#">{{user.username}}</a></li>
                    <li class="nav-item"><a class="nav-link px-4 text-white font-weight-bold text-center" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link px-4 text-white font-weight-bold text-center" href="{% url 'registrar' %}">Registrarse</a></li>
                    <li class="nav-item"><a class="nav-link px-4 text-white font-weight-bold text-center" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link px-4 text-white font-weight-bold text-center" href="{% url 'simulacion' %}">Simulacion</a></li>
                   
                {% endif %}
                    <li class="nav-item"><a class="nav-link px-4 text-white font-weight-bold text-center" href="#">Ayuda</a></li>
                </ul>
            </div>
        </div>
	</nav>
</header>
<main class="container">
	{% block contenido %}{% endblock contenido %}
</main>
<footer >
</footer>
<script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
 </body>
 </html>