body{
    min-height: 25rem;
    padding-top: 4.5rem;
}
.logo{
    width: 35px;
    height: 35px;
}
button{
    color:black;
    background: red;
}
#navbar{
    background: #009544;
}
.text-white:hover{
    font-size: 1.2em;
    color:yellow !important;
}
.fa-bars{
    color:yellow;
}
hr{
    border:3px solid purple;
}
input{
    with:30px;
    height: 35px
}
   
    .three-columns {
        
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
    .one-columns {
        
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        width: 450px;
        height: 450px;
    }
