{% extends "base.html" %}
{% load staticfiles %}
    {% block css %}
<link rel="stylesheet" href="{% static 'js/Chart.min.js' %}">
 <link rel="stylesheet" href="{% static 'css/base.css' %}">
 <link rel="stylesheet" href="{% static 'js/Chart.bundle.js' %}">
    {% endblock css %}
    {% block js %}{% endblock js %}
    

{% block contenido %}
<body>
    

<div class="row">
    <div class="col-6"><h2 class="text-center">{{simulacion.nombre_sim}}</h2></div>
    <div class="col-6"><h2 class="text-center">{{simulacion.usuario}}</h2></div>
    <a href="{% url 'inicio' %}" class="navbar-brand"><img class="logo" src="{% static 'img/icono_w.png' %}" alt=""></a>
</div>
<div class="row">
    <div class="col-12">
        <h3 class="text-center">{{simulacion.planta}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-12"><h4 class="text-center">Extension terreno: {{simulacion.area}} {{simulacion.unidad_long}}</h4></div>
</div>
<div class="row">
    <div class="col-12"><h8 class="text-left">Dia de siembra: {{simulacion.fecha_siembra}}</h8></div>
</div>
<div class="row">
    <div class="col-12"><h8 class="text-left">Cantidad Optima primera aplicacion: {{cantidad}} Kg. de Fertilizante: {{fertilizante}}  {{fecha1}}</h8></div>
</div> 
<div class="row">
    <div class="col-12"><h8 class="text-left">Cantidad Optima segunda aplicacion: {{cantidad2}} Kg. de Fertilizante: {{fertilizante}}  {{fecha2}}</h8></div>
</div>
<div class="row">
    <div class="col-12"><h8 class="text-left">Cantidad Optima tercera aplicacion: {{cantidad3}}  Kg. de Fertilizante: {{fertilizante}}  {{fecha3}}</h8></div>
</div>
<div class="row">
    <div class="col-12"><h7 class="text-left">Recomendaciones: utilizar regadio </h7>en los meses de Enero, Febrero, Marzo, Abril, Noviembre y Diciembre segun promedio de lluvias</div>
</div>
<div class="row">
    <div class="col-12"><h7 class="text-left">Rendimiento de maiz: {{peso}}</h7> KG</div>
</div>
<div class="row">
    <div class="col-12"><h7 class="text-left">Ingreso Bruto:$ {{precio}}  </h7></div>
</div>

    <script src="{% static 'Chart.js' %}"></script>
  <div class="three-columns">
        <p>
         Grafico de cantidad de nutrientes de cada aplicacion
        <canvas id="line_chart"></canvas>
        </p>
        
     <p>
         Grafico total de nutrientes aplicados durante el proceso
        <canvas id="line_chart2"></canvas>
        </p>
        </p>
    </div>
    <p>  Grafico informativo de humedad de El Salvador<canvas id="myChart3" width="200" height="100"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
        </script>  
        </p>

    <div class="row">
    <div class="container col-md-3" style="width: 500px; height: 700px; margin: 0 auto">
    <table id="data_table" class="table table-bordered" >
    <thead>
        <tr>

            <th>Lluvia Promedio (mm)</th>
            <th>Regadío Necesario (mm)</th>
        </tr>
    </thead>
    <tbody>
        {% for d in datos %}
        <tr>

            <td>{{d.0}}</td>
            <td>{{d.1}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
<div id="container_chart1" class="container col-md-9" style="width: 800px; height: 400px; margin: 0 auto">



</div>
</div>





<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript">
   	Highcharts.chart('container_chart1', {
       chart: {
        type: 'column'
    },
    colors: ['#1C1D42', '#2F86FF'],
    title: {
        text: 'Lluvia Mensual y Uso de Regadío'
    },
    subtitle: {
        text: 'SIMAIZ: Promedio 2017'
    },
    xAxis: {
        categories: [
            'Meses',
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Humedad (mm)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {% for d in datos %}
            {
                name: 'L',
                data: [{{d.0}}]
            },
            {
                name: 'R',
                data: [{{d.1}}]
            },
        {% endfor %}
    ]
   });
</script>
    
</body>
<script>
var div_line_chart = document.getElementById("line_chart");
var myLineChart = new Chart(div_line_chart, {
    type: 'bar',
    data: {
        labels: ["Primera aplicacion", "Segunda aplicacion", "Tercera aplicacion"],
        datasets: [
            {
                label: "Nitrogeno",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "#01A9DB",
                borderColor: "#01A9DB",
                borderCapStyle: 'butt', 
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "#01A9DB",
                pointBackgroundColor: "#01A9DB",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "#01A9DB",
                pointHoverBorderColor: "#01A9DB",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [{{nitrogenop}},{{nitrogenos}},{{nitrogenot}}],
            },
            {
                label: "Fosforo",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "#FF0000",
                borderColor: "#FF0000",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "#FF0000",
                pointBackgroundColor: "#FF0000",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "#FF0000",
                pointHoverBorderColor: "#FF0000",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [{{fosforop}},{{fosforos}},{{fosforot}}],
            },
            {
                label: "Potasio",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "#0000FF",
                borderColor: "#0000FF",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "#0000FF",
                pointBackgroundColor: "#0000FF",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "#0000FF",
                pointHoverBorderColor: "#0000FF",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [{{potasiop}},{{potasios}},{{potasiot}}],
            }
        ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true,
    }
});
var div_line_chart = document.getElementById("line_chart2");
var myLineChart = new Chart(div_line_chart, {
    type: 'bar',
    data: {
        labels: ["Primera aplicacion", "Segunda aplicacion", "Tercera aplicacion"],
        datasets: [
            {
                label: "Cantidad Optima de Fertilizante",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "#FF0000",
                borderColor: "#FF0000",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "#FF0000",
                pointBackgroundColor: "#FF0000",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "#FF0000",
                pointHoverBorderColor: "#FF0000",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [ {{cantidad}},{{cantidad2}},{{cantidad3}}],
            }
        ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true,
    }
});
</script>
{% endblock contenido %}
